
@font-face{
    font-family: 'Acrom';
    src: url("../fonts/acrom-extrabold-webfont.woff2") format("woff2");

    src: url("../fonts/AcromW00-ExtraBold.woff") format("woff");    

    src: url("../fonts/AcromW00-ExtraBold.woff") format("woff");

    src: url("../fonts/acrom-extrabold-webfont.woff") format("woff");

    src: url("../fonts/Acrom-ExtraBold.ttf")format ("ttf");

    font-weight: 900;
}
@font-face{
    font-family: 'Acrom';
    src: url("../fonts/acrom-regular-webfont.woff2") format("woff2");

    src: url("../fonts/AcromW00-Medium.woff") format("woff");

    src: url("../fonts/AcromW00-Regular.woff") format("woff");

    src: url("../fonts/AcromW00-Regular.woff") format("woff");
    src: url("../fonts/acrom-regular-webfont.woff") format("woff");

    src: url("../fonts/Acrom-Regular.ttf")format ("ttf");

    font-weight: 400;
}
@font-face{
    font-family: 'Acrom';
    src: url("../fonts/acrom-medium-webfont.woff2") format("woff2");

    src: url("../fonts/AcromW00-Regular.woff") format("woff");

    src: url("../fonts/AcromW00-Medium.woff") format("woff");

    src: url("../fonts/acrom-medium-webfont.woff") format("woff");

    src: url("../fonts/Acrom-Medium.ttf")format ("ttf");

    font-weight: 500;
}

